body {
  background-color: rgb(255, 255, 255);
  font: normal 1em/1.38 Aller;
  color: rgb(0, 0, 0);
}

.text {
  float: left;
  margin-left: 17.5807291666%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text-1 {
  margin-top: 3.063em;
  font-family: DustismoRoman;
}

.text-2 {
  clear: both;
  margin-top: 1.313em;
  font-family: Aller-Light;
}

.text-3 {
  clear: both;
  margin-top: 1.5em;
}