body {
  background-color: rgb(255, 255, 255);
  font: Regular 0.875em/1.38 'Aller Light';
  color: rgb(58, 58, 58);
}

.page-about {
  color: rgb(200, 200, 200);
}

.page-events,
.page-garage,
.page-links,
.page-objects,
.page-search {
  color: rgb(58, 58, 58);
}

.page-index {
  font-family: Aller-Light;
  font-weight: normal;
  color: rgb(200, 200, 200);
}

.page-timeline {
  font-family: Aller-Light;
  font-weight: normal;
  color: rgb(58, 58, 58);
}

.about-contents article {
  float: left;
  width: 57.4999999999%;
  height: 25.5em;
}

.about-index-contents h2 {
  margin-left: 33.87622%;
}

.collaborators-contents h4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 174px;
  margin: 0 auto;
  text-align: center;
  color: rgb(0, 0, 0);
}

.collaborators-contents-1 h4 {
  z-index: 127;
  font-weight: normal;
}

.contact-contents h2 {
  margin-left: 24.23651%;
}

.contact-form-1 textarea,
.contact-form-2 textarea,
.contact-form-3 textarea,
.contact-form-4 textarea,
.contact-form-5 textarea,
.contact-form-6 textarea,
.contact-form-7 textarea {
  z-index: 8;
}

.contact-form-8 textarea {
  z-index: 14;
}

.contributors-contents article {
  width: 100%;
  min-height: 14.286em;
  margin: 12.5em auto 0;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(200, 200, 200);
}

.contributors-contents h2,
.editorial-contents h2 {
  margin: 0 auto;
  font-family: 'Dustismo Roman';
  text-align: center;
}

.contributors-contents li {
  float: left;
  font-size: 0.929em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 181, 86);
}

.contributors-contents ul {
  width: 27.0100502512%;
  height: 1.214em;
  margin: 1.929em auto 0;
}

.event-contents button {
  width: 23.5171696149%;
  height: 2em;
  margin: 5.063em 0 0 1.99382%;
  border-radius: 0.188em;
  font-family: Aller;
  font-size: 1.143em;
}

.event-node h2 {
  position: absolute;
  top: 0;
  left: -0.0027371764%;
  font-family: 'Dustismo Roman';
}

.event-node-1 h2 {
  z-index: 38;
}

.event-node-2 h2 {
  z-index: 20;
}

.external-links a {
  float: left;
  min-height: 14.286em;
  font-size: 1em;
  color: rgb(58, 58, 58);
}

.external-links li {
  float: left;
  width: 100%;
  height: 1.571em;
}

.external-links-1 ul,
.external-links-2 ul {
  float: left;
  clear: both;
  width: 100%;
  height: 1.571em;
}

.external-links-1 ul:first-child,
.external-links-2 ul:first-child {
  clear: none;
}

.header-content-1 h1 {
  z-index: 161;
  font-weight: normal;
}

.header-content-1 img {
  z-index: 159;
}

.header-content-1 input {
  z-index: 144;
  font-family: Aller-Light;
  font-weight: normal;
}

.header-content-1 nav {
  z-index: 158;
}

.header-content-2 h1 {
  z-index: 64;
  font-weight: normal;
}

.header-content-2 img {
  z-index: 62;
}

.header-content-2 input {
  z-index: 47;
  font-family: Aller-Light;
  font-weight: normal;
}

.header-content-3 h1 {
  z-index: 63;
  font-weight: normal;
}

.header-content-2 nav,
.header-content-3 img {
  z-index: 61;
}

.header-content-3 input {
  z-index: 46;
  font-family: Aller-Light;
  font-weight: normal;
}

.header-content-4 h1 {
  z-index: 54;
  font-weight: normal;
}

.header-content-4 input {
  z-index: 37;
  font-family: Aller-Light;
  font-weight: normal;
}

.header-content-5 h1 {
  z-index: 54;
}

.header-content-4 img,
.header-content-5 img {
  z-index: 52;
}

.header-content-5 input {
  z-index: 37;
}

.header-content-6 h1 {
  z-index: 53;
}

.header-content-4 nav,
.header-content-5 nav,
.header-content-6 img {
  z-index: 51;
}

.header-content-6 input {
  z-index: 36;
}

.header-content-7 h1 {
  z-index: 49;
  font-weight: normal;
}

.header-content-7 img {
  z-index: 47;
}

.header-content-7 input {
  z-index: 32;
  font-family: Aller-Light;
  font-weight: normal;
}

.header-content-7 nav {
  z-index: 46;
}

.header-content-8 h1 {
  z-index: 40;
  font-weight: normal;
}

.header-content-8 img {
  z-index: 38;
}

.header-content-8 input {
  z-index: 23;
  font-family: Aller-Light;
  font-weight: normal;
}

.header-content-8 nav {
  z-index: 37;
}

.hero-contents article {
  float: left;
  width: 36.9791666666%;
  height: 24.5em;
  margin: 1.929em 0 0 5.51921%;
}

.masthead h2 {
  margin: 0.84em auto 0;
  font-family: 'Dustismo Roman';
  text-align: center;
}

.object h2 {
  position: absolute;
  top: 0;
  left: 28.4441489361%;
  font-family: 'Dustismo Roman';
}

.object img {
  float: left;
  clear: both;
  width: 470px;
  margin-top: 0.071em;
}

.object nav {
  position: relative;
  float: left;
  width: 99.8706210191%;
  height: 1.571em;
  margin-top: 1.857em;
}

.object-1 h2 {
  z-index: 70;
}

.object-1 nav {
  z-index: 69;
}

.object-2 h2 {
  z-index: 41;
}

.object-2 nav {
  z-index: 40;
}

.object-contents h4 {
  position: relative;
  float: left;
  clear: both;
  width: 15.0925925925%;
  height: 1.143em;
  margin-top: 0.714em;
}

.object-contents-1 h4 {
  z-index: 63;
}

.object-contents-2 h4 {
  z-index: 34;
}

.object-description button {
  clear: both;
  width: 59.9992340686%;
  height: 2.071em;
  margin-top: 1.786em;
  border-radius: 0.214em;
  font-size: 1em;
}

.object-display h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 99.8188405797%;
  margin: 0 auto;
  font-family: DustismoRoman;
  text-align: center;
}

.object-display h3 {
  position: absolute;
  top: 2.538em;
  left: 0;
  right: 0;
  width: 99.8188405797%;
  margin: 0 auto;
}

.object-display-1 h2 {
  z-index: 137;
  font-weight: normal;
}

.object-display-1 h3 {
  z-index: 136;
  font-family: Aller-Light;
  font-weight: normal;
}

.object-display-2 h2 {
  z-index: 29;
}

.object-display-2 h3 {
  z-index: 28;
}

.object-location img {
  float: left;
  width: 470px;
}

.object-prev-next a {
  float: left;
  font-size: 1.143em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.related-links li {
  float: left;
  width: 100%;
  height: 1.143em;
}

.related-links ul {
  float: left;
  clear: both;
  width: 66.6666666666%;
  height: 1.143em;
  margin-top: 0.786em;
}

.searchresults input {
  float: left;
  width: 28.4166666666%;
  margin: 2.692em 0 0 37.1992199999%;
  font-family: Helvetica;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
}

.searchresults input:hover {
  border-bottom: 0.154em solid rgb(225, 127, 0);
}

.site-navigation-1 ul {
  z-index: 157;
}

.header-content-3 nav,
.site-navigation-2 ul {
  z-index: 60;
}

.site-navigation-3 ul {
  z-index: 59;
}

.header-content-6 nav,
.site-navigation-4 ul,
.site-navigation-5 ul {
  z-index: 50;
}

.site-navigation-6 ul {
  z-index: 49;
}

.site-navigation-7 ul {
  z-index: 45;
}

.site-navigation-1 a,
.site-navigation-2 a,
.site-navigation-3 a,
.site-navigation-4 a,
.site-navigation-7 a,
.site-navigation-8 a {
  font-weight: normal;
}

.site-navigation-8 ul {
  z-index: 36;
}

.social-container h2 {
  margin-left: 32.2870599999%;
}

.summary-contents article {
  float: left;
  width: 59.4791666666%;
  height: 25.714em;
}

.teammate1-contents h3,
.teammate2-contents h3 {
  margin: 1.385em auto 0;
}

.teammate3-contents h3 {
  margin: 1.462em auto 0;
}

.weekly-objects a {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  color: rgb(58, 58, 58);
}

.weekly-objects h2 {
  position: absolute;
  top: 0;
  left: -0.1221498372%;
  font-family: 'Dustismo Roman';
}

.weekly-objects li {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.357em;
}

.weekly-objects ul {
  position: relative;
  float: left;
  width: 56.0975609756%;
  height: 4.071em;
  margin-top: 3.357em;
}

.weekly-objects-1 h2 {
  z-index: 81;
}

.weekly-objects-2 h2 {
  z-index: 26;
}

a {
  display: block;
  line-height: 1.38;
}

.external-links-contents h2,
.location h2,
.object-description h2,
.related-links h2,
article h2 {
  float: left;
  font-family: 'Dustismo Roman';
}

button {
  display: block;
  float: left;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

div input {
  position: absolute;
}

div section {
  position: relative;
  width: 57.4999999999%;
  height: 28.143em;
}

footer {
  float: left;
  clear: both;
  width: 100%;
  height: 25em;
  background-color: rgb(253, 177, 63);
}

footer button {
  width: 38.1806344696%;
  height: 1.313em;
  margin: 13.625em 0 0 61.73651%;
  border-radius: 0.188em;
  background-color: rgb(222, 222, 222);
  font-family: 'Dustismo Roman';
  font-size: 1.143em;
}

footer h2 {
  float: left;
  font-family: 'Dustismo Roman';
  color: rgb(53, 53, 53);
}

footer img {
  float: left;
  width: 42px;
}

footer input {
  left: -0.0710227273%;
  width: 100%;
  height: 1.769em;
  background-color: rgb(242, 242, 242);
  font-family: 'Dustismo Roman';
  font-weight: 400;
  color: rgb(0, 0, 0);
}

h1 {
  position: absolute;
  top: 0.9em;
  left: 0;
  padding: 0.025em;
  color: rgb(225, 127, 0);
  font: normal 2.857em/1.38 DustismoRoman;
}

h2 {
  font-size: 1.786em;
  line-height: 1.38;
}

h3 {
  font-size: 0.929em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 181, 86);
}

.related-links a,
h4 a {
  float: left;
  font-family: Aller;
  font-size: 0.857em;
  color: rgb(0, 0, 0);
}

h5 {
  margin: 0 auto;
  font-size: 0.786em;
  line-height: 1.38;
  text-align: center;
  color: rgb(253, 218, 135);
}

h6 {
  float: left;
  clear: both;
  font-size: 0.786em;
  line-height: 1.38;
  color: rgb(58, 58, 58);
}

header {
  float: left;
  width: 100%;
  height: 16.429em;
}

header a {
  position: absolute;
  top: 0;
  padding: 0.385em;
  font-family: Aller;
  font-size: 0.929em;
  color: rgb(92, 150, 210);
}

header a:active {
  border-bottom: 0.154em solid rgb(225, 127, 0);
  color: rgb(160, 207, 255);
}

header img {
  position: absolute;
  top: 0;
  right: 0.0830078125%;
  width: 204px;
}

header input {
  top: 11.308em;
  right: 0.0830078125%;
  width: 28.4169750231%;
  color: rgb(160, 207, 255);
}

  font-family: Aller-Light;
  font-weight: normal;
header input:active {
  border-bottom: 0.077em solid rgb(225, 127, 0);
}

header nav {
  position: absolute;
  top: 6.643em;
  right: -0.1041666667%;
  width: 49.0625%;
  height: 1.929em;
}

header section {
  width: 100%;
}

img {
  display: block;
  height: auto;
  overflow: hidden;
}

input {
  display: block;
  padding: 0 0.769em;
  font-size: 0.929em;
  line-height: 1.38;
}

nav li {
  height: 1.929em;
}

nav ul {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  width: 100%;
  height: 1.929em;
}

section {
  float: left;
}

section button {
  background-color: rgb(255, 181, 86);
}

section button:active {
  border-bottom-width: 0;
  border-bottom-style: none;
}

section h2 {
  color: rgb(225, 127, 0);
}

section input {
  height: 1.923em;
  border-radius: 0.154em;
  background-color: rgba(92, 150, 210, 0.33);
}

textarea {
  display: block;
  position: absolute;
  top: 4em;
  left: -0.0710227273%;
  width: 100%;
  height: 8.5em;
  padding: 0.313em;
  background-color: rgb(242, 242, 242);
  font: 400 1.143em/1.38 'Dustismo Roman';
  color: rgb(0, 0, 0);
  resize: none;
}

.about-text p,
.event-details p,
.logo-collaborators p,
.object-description-2 p,
.object-description-4 p,
.summary-text p,
div article p {
  margin-bottom: 1em;
}

.about-contents {
  width: 960px;
  height: 25.5em;
  margin: 4.5em auto 0;
}

.about-index-contents {
  float: left;
  width: 31.9791666666%;
  height: 19.286em;
}

.about-index-desc {
  float: left;
  clear: both;
  width: 99.7362012987%;
  min-height: 13.214em;
  margin-top: 0.571em;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(58, 58, 58);
}

.about-text {
  float: left;
  clear: both;
  width: 100%;
  min-height: 14.286em;
  margin-top: 0.714em;
  font: normal 1em/1.38 Aller-Light;
  color: rgb(200, 200, 200);
}

.admin-bar {
  height: 2.143em;
  background-color: rgb(0, 0, 0);
}

.calendar {
  position: relative;
  float: left;
  width: 80px;
  height: 8.071em;
}

.collaborators {
  position: relative;
  clear: both;
  width: 100%;
  height: 20.071em;
  border-top: 0.214em solid rgb(225, 127, 0);
  background-color: rgb(255, 255, 255);
}

.collaborators-contents {
  position: absolute;
  top: 2.071em;
  left: 0;
  right: 0;
  width: 960px;
  height: 13.429em;
  margin: 0 auto;
}

.contact-contents {
  position: relative;
  float: left;
  width: 27.5%;
  height: 20.429em;
  margin-left: 8.54167%;
}

.contact-form {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 17.071em;
  margin-top: 0.929em;
}

.contributors {
  position: relative;
  clear: both;
  width: 100%;
  height: 39.357em;
  border-bottom: 0.214em solid rgb(50, 78, 107);
  background-color: rgb(131, 80, 0);
}

.contributors-contents {
  position: absolute;
  top: 2.143em;
  left: 0;
  right: 0;
  width: 796px;
  height: 35em;
  margin: 0 auto;
}

.date {
  float: left;
  margin: 0.25em 0 0 20.52469%;
  font: 400 2.857em/1.38 Aller;
  color: rgb(255, 255, 255);
}

.date-bg {
  position: absolute;
  top: 2.714em;
  left: 0;
  width: 81px;
  height: 5.357em;
  background-color: rgb(92, 150, 210);
}

.disclaimer-contents {
  float: left;
  clear: both;
  width: 100%;
  height: 3.429em;
  margin-top: 1.714em;
  background-color: rgb(0, 0, 0);
}

.disclaimer-statement {
  margin: 1em auto 0;
  font-size: 0.714em;
  line-height: 1.38;
  text-align: center;
  color: rgb(50, 78, 107);
}

.editorial {
  position: relative;
  clear: both;
  width: 100%;
  height: 28.429em;
  border-top: 0.214em solid rgb(225, 127, 0);
  background-color: rgb(50, 78, 107);
}

.editorial-contents {
  position: absolute;
  top: 1.357em;
  left: 0;
  right: 0;
  width: 961px;
  height: 22.286em;
  margin: 0 auto;
}

.ehrc {
  float: left;
  margin: 2.5em 0 0 4.1424899999%;
  font: 400 1.429em/0.18 Aller;
  color: rgb(0, 0, 0);
}

.email {
  top: 2.385em;
}

.embed-timeline {
  float: left;
  width: 100%;
  height: 11.643em;
  background-color: rgb(222, 222, 222);
}

.event-contents {
  width: 960px;
  height: 16.071em;
  margin: 2.857em auto 0;
}

.event-details {
  position: absolute;
  top: 2.857em;
  left: 0;
  width: 99.8604040072%;
  min-height: 9.286em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(58, 58, 58);
}

.event-node {
  position: relative;
  float: left;
  width: 59.4400364203%;
  height: 16.071em;
  margin-left: 6.65365%;
}

.external-links {
  float: left;
  clear: both;
  width: 25.3333333333%;
  height: 6.286em;
  margin-top: 0.857em;
}

.external-links-contents {
  float: left;
  width: 307px;
  height: 9.571em;
  margin: 3.214em 0 0 10%;
}

.fb {
  margin-left: 27.78623%;
}

.footer-contents {
  width: 960px;
  height: 20.429em;
  margin: 2.929em auto 0;
}

.header {
  position: relative;
  clear: both;
  height: 14.286em;
  background-color: rgb(12, 22, 31);
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 960px;
  height: 12.286em;
  margin: 0 auto;
}

.hero {
  clear: both;
  width: 100%;
  height: 31.857em;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.hero-contents {
  width: 960px;
  height: 28.143em;
  margin: 2.357em auto 0;
}

.home {
  left: -1.7323369566%;
}

.hrf {
  float: left;
  margin: 2.5em 0 0 8.51239%;
  font: 400 1.429em/0.18 Aller;
  color: rgb(0, 0, 0);
}

.img {
  float: left;
  width: 40.4166666666%;
  height: 16.429em;
  margin: 3.143em 0 0 1.99382%;
  background-image: url('../images/image-placeholder-550.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.introduction {
  float: left;
  clear: both;
  width: 100%;
  min-height: 14.286em;
  margin-top: 0.714em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(200, 200, 200);
}

.links {
  left: -0.4616477273%;
}

.links-page {
  clear: both;
  width: 100%;
  height: 33.714em;
  background-color: rgba(92, 150, 210, 0.33);
}

.location {
  position: relative;
  float: left;
  clear: both;
  width: 48.9583333333%;
  height: 14.857em;
  margin-top: 2.357em;
}

.logo-collaborators {
  width: 83.0208333333%;
  height: 9.143em;
  margin: 4.286em auto 0;
}

.masthead {
  clear: both;
  width: 100%;
  height: 5.857em;
  border-bottom: 0.214em solid rgb(225, 127, 0);
  background-color: rgb(50, 78, 107);
}

.month {
  float: left;
  margin: 0.25em 0 0 30.55556%;
  font: normal 1.429em/1.38 Aller;
  color: rgb(160, 207, 255);
}

.month-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 2.714em;
  background-color: rgb(50, 78, 107);
}

.name {
  top: 0;
}

.next {
  margin-left: 78.20978%;
}

.object {
  position: relative;
  float: left;
  width: 48.9583333333%;
  height: 28.571em;
  margin-top: 3.357em;
}

.object-contents {
  position: relative;
  width: 960px;
  height: 64.5em;
  margin: 0 auto;
}

.object-description .object-description {
  float: left;
  clear: both;
  width: 100%;
  min-height: 43.357em;
  margin-top: 0.929em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(58, 58, 58);
}

.object-location {
  float: left;
  clear: both;
  width: 100%;
  height: 12em;
  margin-top: 0.429em;
}

.object-permission {
  width: 98.0891719745%;
}

.object-slider {
  float: left;
  width: 100%;
  height: 24.571em;
  margin-top: 3.571em;
  background-image: url('../images/image-placeholder-550.jpg');
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: center center;
}

.object-source {
  margin-top: 1em;
}

.related-links {
  float: left;
}

.searchresults {
  clear: both;
  width: 100%;
  height: 41.286em;
  background-color: rgba(92, 150, 210, 0.33);
}

.site-navigation .about {
  left: -0.3676470589%;
}

.site-navigation .events {
  left: -0.3693181819%;
}

.site-navigation .objects {
  left: -0.3073770492%;
}

.site-navigation .timeline {
  left: -0.5770617938%;
}

.social-container {
  float: left;
  width: 23.5416666666%;
  height: 20.429em;
  margin-left: 8.4375%;
}

.social-links {
  float: left;
  clear: both;
  width: 100%;
  height: 3.071em;
  margin-top: 14.929em;
}

.subtitle {
  position: absolute;
  top: 5.25em;
  left: 0;
  color: rgb(92, 150, 210);
}

.summary-contents {
  float: left;
  clear: both;
  width: 100%;
  height: 25.714em;
  margin-top: 3.786em;
}

.summary-text {
  float: left;
  clear: both;
  width: 100%;
  min-height: 14.286em;
  margin-top: 0.929em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(58, 58, 58);
}

.teammate1 {
  width: 99.8984375%;
  height: 14.214em;
  margin: 0 auto;
  border-radius: 7.143em;
  background: url('../images/Kate_2_small_square.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.teammate1-contents {
  position: relative;
  float: left;
  clear: both;
  width: 200px;
  height: 17.857em;
  margin: 2em 0 0 14.98277%;
}

.teammate2 {
  width: 99.8984375%;
  height: 14.214em;
  margin: 0 auto;
  border-radius: 7.143em;
  background: url('../images/Mark_small.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.teammate3 {
  width: 99.8984375%;
  height: 14.214em;
  margin: 0 auto;
  border-radius: 7.143em;
  background: url('../images/kate_astbury_square.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.teammate2-contents,
.teammate3-contents {
  position: relative;
  float: left;
  width: 200px;
  height: 17.857em;
  margin: 2em 0 0 3.7461%;
}

.twitter {
  margin-left: 12.5%;
}

.weekly-objects {
  position: relative;
  float: left;
  width: 31.9791666666%;
  height: 7.429em;
  margin-left: 8.54167%;
}

.weekly-timeline {
  width: 960px;
  height: 41.143em;
  margin: 0 auto;
}

.about-1 {
  z-index: 147;
}

.about-12 {
  z-index: 35;
}

.about-14 {
  z-index: 26;
}

.about-2 {
  clear: both;
  width: 100%;
  height: 34em;
  margin-top: 0.143em;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.about-5 {
  z-index: 50;
}

.about-6 {
  z-index: 49;
}

.about-7,
.about-8 {
  z-index: 40;
}

.about-9 {
  clear: both;
  width: 100%;
  height: 34em;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.collaborators-contents-1 {
  z-index: 133;
}

.collaborators-contents-2 {
  z-index: 25;
}

.contributors-contents-1 {
  z-index: 104;
}

.contributors-contents-2 {
  z-index: 23;
}

.date-bg-1 {
  z-index: 42;
}

.date-bg-2 {
  z-index: 24;
}

.disclaimer-statement-1,
.disclaimer-statement-2,
.disclaimer-statement-3,
.disclaimer-statement-4,
.disclaimer-statement-5,
.disclaimer-statement-7 {
  font-family: Aller-Light;
  font-weight: normal;
}

.editorial-contents-1 {
  z-index: 119;
}

.editorial-contents-2 {
  z-index: 38;
}

.email-1,
.email-2,
.email-3,
.email-4,
.email-5,
.email-6,
.email-7 {
  z-index: 7;
}

.email-8 {
  z-index: 13;
}

.event-details-1 {
  z-index: 39;
}

.event-details-2 {
  z-index: 21;
}

.events-1 {
  z-index: 153;
}

.events-10 {
  z-index: 32;
}

.events-2 {
  z-index: 56;
}

.events-3 {
  z-index: 55;
}

.events-4 {
  position: relative;
  clear: both;
  width: 100%;
  height: 22.929em;
  background-color: rgba(92, 150, 210, 0.33);
}

.events-5,
.events-6 {
  z-index: 46;
}

.events-7 {
  z-index: 45;
}

.events-8,
.timeline-7 {
  z-index: 41;
}

.events-9 {
  clear: both;
  width: 100%;
  height: 22.929em;
  background-color: rgba(92, 150, 210, 0.33);
}

.header-content-1 {
  z-index: 162;
}

.header-content-2 {
  z-index: 65;
}

.header-content-3 {
  z-index: 64;
}

.header-content-4,
.header-content-5 {
  z-index: 55;
}

.header-content-6 {
  z-index: 54;
}

.header-content-7 {
  z-index: 50;
}

.header-content-8 {
  z-index: 41;
}

.home-1 {
  z-index: 145;
}

.home-4,
.home-5 {
  z-index: 38;
}

.home-7 {
  z-index: 33;
}

.home-8 {
  z-index: 24;
}

.image-1,
.image-3 {
  float: left;
  width: 200px;
  margin-top: 2.429em;
}

.image-2,
.image-4 {
  float: right;
  width: 120px;
  margin-right: 0.12155%;
}

.links-1 {
  z-index: 155;
}

.links-2 {
  z-index: 58;
}

.links-3 {
  z-index: 57;
}

.home-2,
.links-4,
.links-5 {
  z-index: 48;
}

.home-3,
.links-6 {
  z-index: 47;
}

.links-7,
.objects-8 {
  z-index: 43;
}

.links-8 {
  z-index: 34;
}

.location-1 {
  z-index: 61;
}

.location-2 {
  z-index: 32;
}

.month-bg-1 {
  z-index: 44;
}

.month-bg-2 {
  z-index: 26;
}

.name-1,
.name-2,
.name-3,
.name-4,
.name-5,
.name-6,
.name-7 {
  z-index: 6;
}

.name-8 {
  z-index: 12;
}

.object-1 {
  z-index: 71;
}

.object-2 {
  z-index: 42;
}

.object-description-1 {
  position: absolute;
  top: 3.357em;
  left: 57.4999999999%;
  z-index: 58;
  width: 42.5%;
  height: 54.571em;
}

.object-description-3 {
  position: absolute;
  top: 3.357em;
  left: 57.4999999999%;
  z-index: 29;
  width: 42.5%;
  height: 54.571em;
}

.objects-1 {
  z-index: 151;
}

.objects-10 {
  z-index: 30;
}

.objects-3 {
  z-index: 54;
}

.objects-4 {
  z-index: 53;
}

.objects-2,
.objects-5 {
  clear: both;
  width: 100%;
  height: 78.071em;
  background-color: rgba(92, 150, 210, 0.33);
}

.objects-6,
.objects-7 {
  z-index: 44;
}

.about-10,
.objects-9 {
  z-index: 39;
}

.related-links-1,
.related-links-3 {
  width: 37.7777777777%;
  height: 4.357em;
  margin: 26.357em 0 0 8.54167%;
}

.searchresults-2 {
  position: relative;
  z-index: 20;
  margin-top: -66.214em;
}

.subtitle-1 {
  z-index: 160;
  font-weight: normal;
}

.subtitle-2 {
  z-index: 63;
  font-weight: normal;
}

.subtitle-3 {
  z-index: 62;
  font-weight: normal;
}

.subtitle-4 {
  z-index: 53;
  font-weight: normal;
}

.subtitle-5 {
  z-index: 53;
}

.subtitle-6 {
  z-index: 52;
}

.subtitle-7 {
  z-index: 48;
  font-weight: normal;
}

.subtitle-8 {
  z-index: 39;
  font-weight: normal;
}

.introduction-1,
.summary-text-1 {
  font-family: Aller-Light;
  font-weight: normal;
}

.teammate1-contents-1 {
  z-index: 117;
}

.teammate1-contents-2 {
  z-index: 36;
}

.teammate2-contents-1 {
  z-index: 113;
}

.teammate2-contents-2 {
  z-index: 32;
}

.teammate3-contents-1 {
  z-index: 109;
}

.teammate3-contents-2 {
  z-index: 28;
}

.timeline-1 {
  z-index: 149;
}

.timeline-10 {
  z-index: 28;
}

.timeline-3 {
  z-index: 52;
}

.timeline-4 {
  z-index: 51;
}

.timeline-5,
.timeline-6 {
  z-index: 42;
}

.home-6,
.timeline-8 {
  z-index: 37;
}

.timeline-2,
.timeline-9 {
  clear: both;
  width: 100%;
  height: 48.714em;
  background-color: rgba(92, 150, 210, 0.33);
}

._container-97 {
  position: relative;
  z-index: 18;
  margin-top: 41.214em;
}

.site-navigation ._container-18 {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 49;
  width: 11.825192802%;
}

.site-navigation ._container-22 {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 48;
  width: 11.825192802%;
}

.site-navigation ._container-3 {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 146;
  width: 11.825192802%;
}

.site-navigation ._container-36,
.site-navigation ._container-38 {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 39;
  width: 11.825192802%;
}

.site-navigation ._container-42 {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 38;
  width: 11.825192802%;
}

.site-navigation ._container-50 {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 34;
  width: 11.825192802%;
}

.site-navigation ._container-66 {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 25;
  width: 11.825192802%;
}

.site-navigation ._container-23,
.site-navigation ._container-25,
.site-navigation ._container-4,
.site-navigation ._container-43,
.site-navigation ._container-44,
.site-navigation ._container-45,
.site-navigation ._container-54,
.site-navigation ._container-68 {
  position: relative;
  float: left;
  width: 13.1105398457%;
  margin-left: 16.94865%;
}

.site-navigation ._container-26,
.site-navigation ._container-27,
.site-navigation ._container-46,
.site-navigation ._container-48,
.site-navigation ._container-5,
.site-navigation ._container-51,
.site-navigation ._container-58,
.site-navigation ._container-70 {
  position: relative;
  float: left;
  width: 16.7095115681%;
  margin-left: 2.82312%;
}

.site-navigation ._container-29,
.site-navigation ._container-30,
.site-navigation ._container-52,
.site-navigation ._container-53,
.site-navigation ._container-55,
.site-navigation ._container-6,
.site-navigation ._container-62,
.site-navigation ._container-73 {
  position: relative;
  float: left;
  width: 15.6812339331%;
  margin-left: 1.53928%;
}

.site-navigation ._container-31,
.site-navigation ._container-34,
.site-navigation ._container-56,
.site-navigation ._container-57,
.site-navigation ._container-59,
.site-navigation ._container-65,
.site-navigation ._container-7,
.site-navigation ._container-78 {
  position: relative;
  float: left;
  width: 14.1388174807%;
  margin-left: 2.82312%;
}

.site-navigation ._container-37,
.site-navigation ._container-41,
.site-navigation ._container-60,
.site-navigation ._container-61,
.site-navigation ._container-63,
.site-navigation ._container-67,
.site-navigation ._container-8,
.site-navigation ._container-82 {
  position: relative;
  float: left;
  width: 11.3110539845%;
  margin-left: 4.86996%;
}

.weekly-objects ._container-12 {
  top: 2.714em;
  z-index: 79;
}

.weekly-objects ._container-13 {
  top: 1.357em;
  z-index: 77;
}

.weekly-objects ._container-14 {
  top: 0;
  z-index: 75;
}

.weekly-objects ._container-86 {
  top: 2.714em;
  z-index: 24;
}

.weekly-objects ._container-89 {
  top: 1.357em;
  z-index: 22;
}

.weekly-objects ._container-96 {
  top: 0;
  z-index: 20;
}

.weekly-objects ._text-1 {
  z-index: 78;
}

.weekly-objects ._text-12 {
  z-index: 23;
}

.weekly-objects ._text-14 {
  z-index: 21;
}

.weekly-objects ._text-18 {
  z-index: 19;
}

.weekly-objects ._text-2 {
  z-index: 76;
}

.weekly-objects ._text-3 {
  z-index: 74;
}